<%= form_for @recipe do |f| %>
  <%= f.collection_select :user_id, User.all, :id, :name, prompt: true %>
    <% @ingredients.each do |ingredient| %>
        <div>
        <%= check_box_tag(ingredient.id) %>
        <%= label_tag(ingredient.id, "#{ingredient.name}") %>
        </div>
    <% end %>
  <%= f.submit %>
<% end %>




