<h1><%= @user.name %></h1>

<h3><%= @user.name %>'s Recipes:</h3>
<ul>
    <% @user.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul>

<button><%= link_to "Edit this User", edit_user_path(@user) %></button>
<%= form_tag user_path(@user), method: :delete do %>
    <%= submit_tag "Delete" %>
<% end %>
